<h1><%= @page.title %></h1>

<div class="content">
    <%= @body %>
</div>

<div class="children">
    <ul>
    <% @page.children.each do |child| %>
      <li><a href="<%= $context_path %>/plugins/servlet/sinatra/wiki/<%= child.space.key %>/<%= escape child.title %>"><%= child.title %></a></li>
    <% end %>
    </ul>
</div>
